* {
  box-sizing: border-box;
}
body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.borderpp {
  height: 12rem;
  width: 12rem;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  background: rgba(255, 255, 255, 0.57);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7px);
}
.textbox {
  text-align: center;
  border-radius: 3px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  padding: 1rem 3rem 1rem 3rem;
  background: rgba(255, 255, 255, 0.57);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7px);
  margin-top: 5rem;
}

/*
border-radius: 16px;
-webkit-backdrop-filter: blur(7px);
border: 1px solid rgba(255, 255, 255, 0.3);
*/
.content {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.icons {
  float: right;
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 1rem;
}

.contactIcons {
  height: 1.5rem;
  width: 1.5rem;
}

a {
  text-decoration: none;
  color: black;
}

.background {
  height: 115vh;
  background-image: url("https://wallpapercave.com/wp/vu7LnbC.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  filter: blur(8px);
}

.pp {
  height: 15rem;
  width: auto;
  transform: translateX(-18px);
  transform: translateY(-18px);
}
.cadre-pp {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  overflow: hidden;
}

.container {
  height: 15rem;
  width: 29rem;
  padding: 0.5rem;
  padding-right: 2rem;
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.57);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7px);
}

.element {
  height: 2.5rem;
  width: 13rem;
  margin: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.268);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: 0.4s;
}

.element:hover {
  transform: scale(1.03);
  background: rgba(255, 255, 255, 0.581);
  cursor: pointer;
}

.element p {
  margin-left: 1rem;
}

.contact {
  height: 4rem;
  width: 16rem;
  margin-top: 2rem;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  background: rgba(255, 255, 255, 0.57);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7px);
}

.icon {
  height: 3rem;
  width: 3rem;
  background: rgba(255, 255, 255, 0.268);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;

  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.icon:hover {
  transform: scale(1.08);
  background: rgba(255, 255, 255, 0.581);
  cursor: pointer;
}

.notif {
  height: 4rem;
  width: 16rem;
  border: 2px solid green;
  background-color: yellowgreen;
  position: fixed;
  bottom: 10px;
  left: 10px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close {
  position: absolute;
  top: 5px;
  right: 5px;
  color: brown;
}

.notif-icon {
  height: 2rem;
  width: 2rem;
  position: absolute;
  left: 5px;
  color: green;
}

#notif-on {
  visibility: visible;
  animation: fadeIn 0.5s, fadeOut 0.5s 1.5s;
}

#notif-off {
  visibility: hidden;
}

@keyframes fadeIn {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 10px;
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    bottom: 10px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
